html,
body {
    height: 100%;
    font-size: 12px !important;
}

.form-control {
    font-size: 12px !important;
}

h3 {
    text-align: center;
}

.acc_title {
    background-color: aquamarine;
}

.mandat_symbol{
    color: red;
}

._modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
._modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
._close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
._close:hover,
._close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.disable{
    pointer-events: none;
    background: grey;
}

/*[required] {
    outline: 1px solid red;
}*/

.file{
    color: transparent;
}