{% extends "main_base.html" %}

{% block content %}
{% load static %}
<h3>ORGANISATION MASTER</h3>

<button onclick="show_modal()" class="btn btn-primary">Add</button>

<div id="myModal" class="_modal">
    <div class="_modal-content">        
        <span class="_close">&times;</span>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ORGANISATION MASTER</h5>            
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-toggle="tab" href="#organisation_info" type="button" role="tab" aria-selected="true">Organisation</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" href="#personal_details" type="button" role="tab" aria-selected="true">Personal Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" href="#promoter_details" type="button" role="tab" aria-selected="true">Promoter's Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" href="#docs" type="button" role="tab" aria-selected="true">Doc Upload</button>
                </li>
            </ul>
            <div class="tab-content">
                <div id="organisation_info" class="tab-pane fade in active show">
                    <form method="POST" id="form" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <input type="text" name="_id" id="_id" hidden>
                    <div class="row" hidden>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="1">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="2">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="3">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="4">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="5">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="6">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="7">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="8">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="9">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="10">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="11">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="12">
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('organisationDetails')">
                        Organisation Details 
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="organisationDetails" class="w3-show">
                        <div class="row">
                            <div class="col-sm-3 mb-1">
                                <label>Organisation Name</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="organisation_name" id="organisation_name" class="allstring form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Estd. On</label>
                                <label class="mandat_symbol">*</label>
                                <input type="date" name="estate_on" id="estate_on" class="form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Branch (if any)</label>
                                <label class="mandat_symbol">*</label>
                                <select name="branch" id="branch" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Constitution</label>
                                <label class="mandat_symbol">*</label>
                                <select name="constitution" id="constitution" class="form-control" onchange="showLegalDetails(event)" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                    <option value="PROPRIETORSHIP">Proprietorship</option>
                                    <option value="PARTNERSHIP">Partnership</option>
                                    <option value="LLP">LLP</option>
                                    <option value="PRIVATE LIMITED COMPANY">Private Limited Company</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1 Partnership_LLP" style="display: none;">
                                <label>Number of partners</label>
                                <label class="mandat_symbol">*</label>
                                <input type="number" name="no_partners" id="no_partners" onchange="cloneDetails('no_partners', 'partner\'s_details')" class="form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1 Private_Limited_Company" style="display: none;">
                                <label>No of directors</label>
                                <label class="mandat_symbol">*</label>
                                <input type="number" name="no_directors" id="no_directors" onchange="cloneDetails('no_directors', 'director\'s_details')" class="form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1 Private_Limited_Company" style="display: none;">
                                <label>No of promoters</label>
                                <label class="mandat_symbol">*</label>
                                <input type="number" name="no_promoters" id="no_promoters" onchange="cloneDetails('no_promoters', 'promoter\'s_details')" class="form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Nature of Business</label>
                                <label class="mandat_symbol">*</label>
                                <select name="nature_of_business" id="nature_of_business" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                    <option value="WHOLESALER">WHOLESALER</option>
                                    <option value="RETAILER">RETAILER</option>
                                    <option value="REAL ESTATEE">REAL ESTATEE</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Starting Finacial Year</label>
                                <label class="mandat_symbol">*</label>
                                <input type="date" name="start_fin_yr" id="start_fin_yr" class="form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Enable TDS Deduction</label>
                                <label class="mandat_symbol">*</label>
                                <select name="" id="" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>TDS Deduction Type</label>
                                <label class="mandat_symbol">*</label>
            
                                <select name="tds_deduction_type" id="tds_deduction_type" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                    <option value="Company">Company</option>
                                    <option value="Non-Company">Non-Company</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('addressDetails')">
                        Address Details 
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="addressDetails" class="w3-show">
                        <div class="row">
                            <div class="col-sm-4 mb-1">
                                <label>Address Line 1</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="addLine1" id="addLine1" class="allcaps form-control" tabindex="2" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>Address Line 2</label>
                                <input type="text" name="addLine2" id="addLine2" class="allcaps form-control" tabindex="3">
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>City</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="city" id="city" class="allstring form-control" tabindex="5" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>District</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="district" id="district" class="allstring form-control" tabindex="4" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>State</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="state" id="state" class="allstring form-control" tabindex="6" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>Pin code</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="pin" id="pin" maxlength="6" minlength="6" class="allnums form-control" tabindex="7" required>
                            </div>
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('contactDetails')">
                        Contact Details 
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="contactDetails" class="w3-show">
                        <div class="row">
                            <div class="col-sm-3 mb-1">
                                <label>Mobile No</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="mobile_no" id="mobile_no" class="allnums form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Whatsapp No.</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="whatsapp_no" id="whatsapp_no" class="allnums form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Email ID</label>
                                <label class="mandat_symbol">*</label>
                                <input type="email" name="email" id="email" class="form-control" tabindex="1" required>
                            </div>
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('licenseDetails')">
                        License Details
                        <i class="fa fa-caret-down"></i>
                    </div>                    
                    <div id="licenseDetails" class="w3-show">                        
                        <div class="row">
                            <div class="col-sm-4 mb-1">
                                <label>PAN No.</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>TAN No.</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="tan_no" id="tan_no" class="allcaps form-control" tabindex="1" required>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>GSTIN No.</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="gstin" id="gstin" class="allcaps form-control" tabindex="1" required>
                            </div>                            
                        </div>
                        <div class="row Private_Limited_Company" style="display: none;">                            
                            <div class="col-sm-3 mb-1">
                                <label>CIN No.</label>
                                <label class="mandat_symbol">*</label>
                                <input type="text" name="tan_no" id="tan_no" class="allstring form-control" tabindex="1" required>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div id="personal_details" class="tab-pane fade">
                    <div class="row Proprietorship" style="display: none;">
                        <div class="row">
                            <div class="col-sm-10 mb-1">
                                <div class="row">
                                    <div class="col-sm-6 mb-1">
                                        <label>Proprietor's Name</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                    </div>
                                    <div class="col-sm-6 mb-1">
                                        <label>Father's name</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                    </div>                                   
                                    <div class="col-sm-6 mb-1">
                                        <label>Address Line 1</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="addLine1" id="addLine1" class="allcaps form-control" tabindex="2" required>
                                    </div>
                                    <div class="col-sm-6 mb-1">
                                        <label>Address Line 2</label>
                                        <input type="text" name="addLine2" id="addLine2" class="allcaps form-control" tabindex="3">
                                    </div>
                                    <div class="col-sm-3 mb-1">
                                        <label>City</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="city" id="city" class="allstring form-control" tabindex="5" required>
                                    </div>
                                    <div class="col-sm-3 mb-1">
                                        <label>District</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="district" id="district" class="allstring form-control" tabindex="4" required>
                                    </div>
                                    <div class="col-sm-3 mb-1">
                                        <label>State</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="state" id="state" class="allstring form-control" tabindex="6" required>
                                    </div>
                                    <div class="col-sm-3 mb-1">
                                        <label>Pin code</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="pin" id="pin" maxlength="6" minlength="6" class="allnums form-control" tabindex="7" required>
                                    </div>                    
                                    <!--<div class="col-sm-4 mb-1">
                                        <label>FSSI LICENSE No.</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="" id="" class="allstring form-control" tabindex="1" required>
                                    </div>
                                    <div class="col-sm-4 mb-1">
                                        <label>FSSI LICENSE Valid from</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="date" name="" id="" class="form-control" tabindex="1" required>
                                    </div>
                                    <div class="col-sm-4 mb-1">
                                        <label>FSSI LICENSE Valid upto</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="date" name="" id="" class="form-control" tabindex="1" required>
                                    </div>-->
                                    <div class="col-sm-3 mb-1">
                                        <label>Aadhar No.</label>
                                        <label class="mandat_symbol">*</label>
                                        <input type="text" name="aadhar_no" id="aadhar_no" class="allnums form-control" tabindex="1" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-1"> 
                                <div>                                
                                    <img id="pic" src="#" style="width: 193px; height: 193px;" alt="passport_photo"/>
                                    <input type="file"> 
                                </div>
                            </div>
                        </div>                              
                    </div>
                    <div class="Partnership_LLP" style="display: none;">                    
                        <div class="partner's_details">
                            <label style="font-weight: bold;">Partner 1</label>
                            <div class="row">                         
                                <div class="col-sm-10 mb-1">
                                    <div class="row">
                                        <div class="col-sm-6 mb-1">
                                            <label>Partner's Name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Father's name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 1</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="addLine1" id="addLine1" class="allcaps form-control" tabindex="2" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 2</label>
                                            <input type="text" name="addLine2" id="addLine2" class="allcaps form-control" tabindex="3">
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>City</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="city" id="city" class="allstring form-control" tabindex="5" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>District</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="district" id="district" class="allstring form-control" tabindex="4" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>State</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="state" id="state" class="allstring form-control" tabindex="6" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Pin code</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pin" id="pin" maxlength="6" minlength="6" class="allnums form-control" tabindex="7" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>PAN No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Aadhar No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Percent of Interest</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 mb-1"> 
                                    <div>                                
                                        <img id="pic" src="#" style="width: 193px; height: 193px;" alt="passport_photo"/>
                                        <input type="file"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Private_Limited_Company" style="display: none;">
                        <div class="director's_details">
                            <label style="font-weight: bold;">Director 1</label>
                            <div class="row">                         
                                <div class="col-sm-10 mb-1">
                                    <div class="row">
                                        <div class="col-sm-6 mb-1">
                                            <label>Director's Name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Father's name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 1</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="addLine1" id="addLine1" class="allcaps form-control" tabindex="2" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 2</label>
                                            <input type="text" name="addLine2" id="addLine2" class="allcaps form-control" tabindex="3">
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>City</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="city" id="city" class="allstring form-control" tabindex="5" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>District</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="district" id="district" class="allstring form-control" tabindex="4" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>State</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="state" id="state" class="allstring form-control" tabindex="6" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Pin code</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pin" id="pin" maxlength="6" minlength="6" class="allnums form-control" tabindex="7" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>PAN No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Aadhar No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Director Type</label>
                                            <label class="mandat_symbol">*</label>
                                            <select name="" id="" class="form-control" tabindex="1" required>
                                                <option value="" selected disabled>-- Select --</option>
                                                <option value="MANAGING DIRECTOR">Managing Director</option>
                                                <option value="EXECUTIVE DIRECTOR">Executivr Director</option>
                                            </select>
                                            <!-- to be data list -->
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>DIN No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="tan_no" id="tan_no" class="allstring form-control" tabindex="1" required>
                                        </div>
                                        valid upto
                                    </div>
                                </div>
                                <div class="col-sm-2 mb-1"> 
                                    <div>                                
                                        <img id="pic" src="#" style="width: 193px; height: 193px;" alt="passport_photo"/>
                                        <input type="file"> 
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div id="promoter_details" class="tab-pane fade">
                    <div class="row Private_Limited_Company" style="display: none;">
                        <div class="promoter's_details">
                            <label style="font-weight: bold;">Promoter 1</label>
                            <div class="row">                         
                                <div class="col-sm-10 mb-1">
                                    <div class="row">
                                        <div class="col-sm-6 mb-1">
                                            <label>Promoter's Name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Father's name</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 1</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="addLine1" id="addLine1" class="allcaps form-control" tabindex="2" required>
                                        </div>
                                        <div class="col-sm-6 mb-1">
                                            <label>Address Line 2</label>
                                            <input type="text" name="addLine2" id="addLine2" class="allcaps form-control" tabindex="3">
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>City</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="city" id="city" class="allstring form-control" tabindex="5" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>District</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="district" id="district" class="allstring form-control" tabindex="4" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>State</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="state" id="state" class="allstring form-control" tabindex="6" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Pin code</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pin" id="pin" maxlength="6" minlength="6" class="allnums form-control" tabindex="7" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>PAN No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>
                                        <div class="col-sm-3 mb-1">
                                            <label>Aadhar No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="pan_no" id="pan_no" class="allcaps form-control" tabindex="1" required>
                                        </div>                                        
                                        <div class="col-sm-3 mb-1">
                                            <label>DIN No.</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" name="tan_no" id="tan_no" class="allstring form-control" tabindex="1" required>
                                        </div>
                                        valid upto
                                        <div class="col-sm-3 mb-1">
                                            <label>Number/Percent of Share</label>
                                            <label class="mandat_symbol">*</label>
                                            <input type="text" class="form-control">                                            
                                            <!-- to be data list -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 mb-1"> 
                                    <div>                                
                                        <img id="pic" src="#" style="width: 193px; height: 193px;" alt="passport_photo"/>
                                        <input type="file"> 
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>                                    
                <div id="docs" class="tab-pane fade">
                    <div class="row">
                        <div class="col-sm-4 mb-1">
                            <label>Doc Type</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Upload</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Files</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Land Documents</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <input type="file" multiple name="land_docs" id="land_docs" class="file" onchange="updateList('land_docs', 'landDocs', true)"/>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div id="landDocs" class="filesList">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Agreements</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <input type="file" multiple name="agreements_doc" id="agreements_doc" class="file" onchange="updateList('agreements_doc', 'agreementsDoc', true)"/>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div id="agreementsDoc" class="filesList">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Power of Attorney</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <input type="file" multiple name="pow" id="pow" class="file" onchange="updateList('pow', 'Pow', true)"/>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div id="Pow" class="filesList">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>Development Authority Approval</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <input type="file" multiple name="dev_auth_approval" id="dev_auth_approval" class="file" onchange="updateList('dev_auth_approval', 'devAuthApproval', true)"/>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div id="devAuthApproval" class="filesList">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <label>RERA Certificate</label>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <input type="file" multiple name="rera_certificate" id="rera_certificate" class="file" onchange="updateList('rera_certificate', 'reraCertificate', true)"/>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div id="reraCertificate" class="filesList">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                    <input type="submit" onclick="return formValidation()" id="btn" class="btn btn-primary" name="Save" value="Save"/>
                    </form>
                </div>
            </div>
        </div>            
        <div class="modal-footer">

        </div>
    </div>
</div>

<table id="fancyTable" class="table table-striped fancyTable">
    <thead>
        <tr>
            <th>ORGANISATION</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for organisation in organisationDetails %}
        <tr>
            <td>
                {{ organisation.name }}
            </td>
            <td><a class="btn btn-primary" onclick="showOrganisationData('/organisation_master/{{organisation.name}}')">View</a></td>
            <td><a class="btn btn-primary" onclick="showOrganisationData('/organisation_master/{{organisation.name}}')"><i class="fa fa-fw fa-edit"></a></td>
            <td><button class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

function showLegalDetails(e){
    constitution = e.target.value;
    if(constitution == "PROPRIETORSHIP"){
        $(".Proprietorship").show();
        $(".Private_Limited_Company").hide();
        $(".Partnership_LLP").hide();
    } else if(constitution == "PRIVATE LIMITED COMPANY"){
        $(".Proprietorship").hide();
        $(".Private_Limited_Company").show();
        $(".Partnership_LLP").hide();
    } else if(constitution == "PARTNERSHIP" || constitution == "LLP"){
        $(".Proprietorship").hide();
        $(".Private_Limited_Company").hide();
        $(".Partnership_LLP").show();
    }
}

function clonePartnerDetails(){
    var no_partners = Number($("#no_partners").val());
    var no_divs = document.getElementsByClassName("partner's_details").length;
    for(var i=1; i< (no_partners - no_divs + 1); i++){
        var div = document.getElementsByClassName("partner's_details")[0],
            clone = div.cloneNode(true); 
        clone.firstElementChild.innerText = "Partner " + (i + 1);    
        div.parentElement.appendChild(clone);
    }

    if(no_partners < no_divs){
        var n = no_divs - no_partners;
        var length = no_partners + n;

        divs = document.getElementsByClassName("partner's_details");
        var result = Object.keys(divs).map((key) => [Number(key), divs[key]]);
        for(var i = no_partners; i < length; i++){
            result[i][1].remove();
        }         
    }
}

function cloneDetails(id, className){
    var no_partners = Number($(id).val());
    var no_divs = document.getElementsByClassName(className).length;
    for(var i=1; i< (no_partners - no_divs + 1); i++){
        var div = document.getElementsByClassName(className)[0],
            clone = div.cloneNode(true); 
        clone.firstElementChild.innerText = "Partner " + (i + 1);    
        div.parentElement.appendChild(clone);
    }

    if(no_partners < no_divs){
        var n = no_divs - no_partners;
        var length = no_partners + n;

        divs = document.getElementsByClassName(className);
        var result = Object.keys(divs).map((key) => [Number(key), divs[key]]);
        for(var i = no_partners; i < length; i++){
            result[i][1].remove();
        }         
    }
}

function formValidation(){
    if(!requiredValidation()){
        return false
    }

    alert("Data saved sucessfully!");
    return true;
}

</script>

{% endblock content %}