{% extends "base.html" %}

{% block sidebar %}
<div class="acc_title" onclick="AccFunc('Settings')">
  <i class="fa fa-fw fa-cog"></i>Organisation Setup 
  <i class="fa fa-caret-down"></i>
</div>
<div id="Settings" class="w3-show">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-home"></i>Organisation Master
  </a><br>
  <div class="acc_title" onclick="AccFunc('User Setup')">
    <i class="fa fa-fw fa-cog"></i>User Setup 
    <i class="fa fa-caret-down"></i>
  </div>
  <div id="User Setup" class="w3-show">
  <a href="{% url 'user_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-user"></i>User Master
  </a><br>
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-user"></i>User Roles
  </a>
</div>
<a href="#" class="w3-bar-item w3-button">
  <i class="fa fa-fw fa-cog"></i>General settings
</a><br>

  
</div>    
{% endblock sidebar %} 