{% extends "base.html" %}

{% block sidebar %}
<div style="background-color: green;" onclick="AccFunc('Settings')">
  <i class="fa fa-fw fa-cog"></i>Organisation Setup 
  <i class="fa fa-caret-down"></i>
</div>
<div id="Settings" class="w3-show">
  <div class="acc_title" onclick="AccFunc('Organisation Master')">
    <i class="fa fa-fw fa-cog"></i>Organisation Master
    <i class="fa fa-caret-down"></i>
  </div>
  <div id="Organisation Master" class="w3-show">

  </div>

  <div class="acc_title" onclick="AccFunc('User Setup')">
    <i class="fa fa-fw fa-cog"></i>User Setup 
    <i class="fa fa-caret-down"></i>
  </div>
  <div id="User Setup" class="w3-show">
    <a href="{% url 'user_master' %}" class="w3-bar-item w3-button">
      <i class="fa fa-fw fa-user"></i>User Master
    </a><br>
    <a href="#" class="w3-bar-item w3-button">
      <i class="fa fa-fw fa-user"></i>User Roles
    </a>
  </div>

  <div class="acc_title" onclick="AccFunc('General Settings')">
    <i class="fa fa-fw fa-cog"></i>General Settings 
    <i class="fa fa-caret-down"></i>
  </div>
  <div id="General Settings" class="w3-show">

  </div>
</div>    
{% endblock sidebar %} 