{% extends "settings/settings_base.html" %}

{% block content %}

<h3>USER MASTER</h3>

<button onclick="show_modal()" class="btn btn-primary">Add</button>

<div id="myModal" class="_modal">
    <div class="_modal-content">        
        <span class="_close">&times;</span>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">USER MASTER</h5>
            
        </div>
            <div class="modal-body">                                        
                <form method="POST" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="_id" id="_id" hidden> 
                    <div class="row">
                        <div class="col-sm-6 mb-1">
                            <label>User Name</label>
                            <label class="mandat_symbol">*</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <label>Password</label>
                            <label class="mandat_symbol">*</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>                                    
                        <div class="col-sm-6 mb-1">
                            <label>User Type</label>
                            <label class="mandat_symbol">*</label>
                            <input type="text" class="form-control" name="user_type" id="user_type" required>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <label>Full Name</label>
                            <label class="mandat_symbol">*</label>
                            <input type="text" class="form-control" name="full_name" id="full_name" required>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <label>Designation</label>
                            <label class="mandat_symbol">*</label>
                            <input type="text" class="form-control" name="designation" id="designation" required>
                        </div>
                    </div>                                            
                    <input type="submit" onclick="return formValidation()" id="btn" class="btn btn-primary" name="Save" value="Save"/>    
                </form>
            </div>                   
        </div>    
        <div class="modal-footer">
        </div>
    </div>
</div>

<table id="fancyTable" class="table fancyTable">
    <thead>
        <tr>
            <th>USER</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in userDetails %}
        <tr>
            <td>
                <a href="#" onclick="showUserData('/user_master/{{user.username}}')">{{ user.username }} </a>                
            </td>
            <td><a class="btn btn-primary" onclick="showUserData('/user_master/{{user.username}}')">View</a></td>
            <td><a class="btn btn-primary" onclick="showUserData('/user_master/{{user.username}}')"><i class="fa fa-fw fa-edit"></a></td>
            <td><button class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    function formValidation(){

    }
</script>

{% endblock content %}