{% extends "base.html" %}

{% block sidebar %}
<div class="acc_sidebar" onclick="AccFunc('Master')">
  <i class="fa fa-fw fa-cog"></i>Master 
  <i class="fa fa-caret-down"></i>
</div>
<div id="Master" class="w3-show">
  <a href="{% url 'project_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-home"></i>Project
  </a><br>
  <a href="{% url 'block_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-sitemap"></i>Block
  </a><br>
  <a href="{% url 'flat_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-user"></i>Flat
  </a><br>
  <a href="{% url 'customer_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-user"></i>Customer            
  </a><br>
  <a href="{% url 'bank_master' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-user"></i>Bank
  </a><br>
</div>

<div class="acc_sidebar" onclick="AccFunc('Transaction')">
  <i class="fa fa-fw fa-wrench"></i>
  Transaction
  <i class="fa fa-caret-down"></i>
</div>
<div id="Transaction" class="w3-show">
  <a href="{% url 'booking_entry' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-cog"></i>Booking Entry
  </a><br>
  <a href="{% url 'customer_request' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-cog"></i>Customer Request
  </a><br>
</div>

<div class="acc_sidebar" onclick="AccFunc('Report')">
  <i class="fa fa-fw fa-wrench"></i>
  Report
  <i class="fa fa-caret-down"></i>
</div>
<div id="Report" class="w3-show">
  <a href="{% url 'flat_booking_status' %}" class="w3-bar-item w3-button">
    <i class="fa fa-fw fa-cog"></i>Flat Booking Status
  </a><br>                    
</div>
{% endblock sidebar %} 