<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AUM ASSETS AND PROJECTS</title>
   
    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
  </head>
  <body class="text-center">
    {{ error_msg }}
    
<main class="form-signin">
    <form method="POST" action="{% url 'org_login' %}"> 
        {% csrf_token %}   
        <h1 class="h3 mb-3 fw-normal">Log in</h1>
        
            <select class="form-control" name="organisation">
                <option>HINDUSTAN DISTRIBUTORS</option>
            </select>
            <select class="form-control" name="branch">
                <option>BHUBANESWAR</option>
            </select>
            <select class="form-control" name="fin_yr">
                <option>2021-2022</option>
            </select>      
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>    
  </form>
  
</main>    
  </body>
</html>
