<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REAL ESTATE MANAGEMENT</title>
   
    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link type="text/css" href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link type="text/css" rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
  </head>
  <body class="text-center">
    {{ error_msg }}
    
    <main class="form-signin">
    <form method="POST" action="{% url 'org_login' %}"> 
      {% csrf_token %}   
      <h1 class="h3 mb-3 fw-normal">Log in</h1>
        
      <select class="form-control" name="organisation">
      {% for organisation in request.session.organisations_list %}
        <option value="{{ organisation }}">{{ organisation }}</option>
      {% endfor %}
      </select>
      <select class="form-control" name="branch">
        <option value="ANGUL">ANGUL</option>
        <option value="BHUBANESWAR">BHUBANESWAR</option>
      </select>
      <select class="form-control" name="fin_yr">
        <option>2021-2022</option>
        <option>2022-2023</option>
      </select>
                  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>    
    </form>  
    </main>    
  </body>
</html>
