{% extends "main_base.html" %}

{% block content %}
{% load static %}
<h3>BANK MASTER</h3>

<button onclick="show_modal()" class="btn btn-primary">Add</button>

<div id="myModal" class="_modal">
    <div class="_modal-content">        
        <span class="_close">&times;</span>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">BANK MASTER</h5>
            
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<table id="fancyTable" class="table table-striped fancyTable">
    <thead>
        <tr>
            <th>BANK</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bank in bankDetails %}
        <tr>
            <td>
            </td>
            <td><a class="btn btn-primary" onclick="showBankData('/bank_master/{{bank.bank_name}}')"><i class="fa fa-fw fa-edit"></a></td>
            <td><button class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}