{% extends "main_base.html" %}

{% block content %}
{% load static %}
<h3>BLOCK MASTER</h3>

<button onclick="show_modal()" class="btn btn-primary">Add</button>

<div id="myModal" class="_modal">
    <div class="_modal-content">        
        <span class="_close">&times;</span>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">BLOCK MASTER</h5>
            
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-toggle="tab" href="#block_info" type="button" role="tab" aria-selected="true">Block</button>
                </li>
            </ul>
            <div class="tab-content">
                <div id="block_info" class="tab-pane fade in active show">
                    <form method="POST" id="form" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <input type="text" name="_id" id="_id" hidden>
                    <div class="row" hidden>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="1">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="2">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="3">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="4">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="5">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="6">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="7">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="8">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="9">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="10">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="11">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="12">
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('blockDetails')">
                        Block Details 
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="blockDetails" class="w3-show">
                        <div class="row">
                            <div class="col-sm-4 mb-1">
                                <label>Project Name</label>
                                <label class="mandat_symbol">*</label>
                                <select name="project_name" id="project_name" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                {% for project in projects_list %}
                                    <option value="{{project}}">{{project}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Number of Blocks</label>
                                <label class="mandat_symbol">*</label>
                                <input type="number" name="no_blocks" id="no_blocks" min="1" class="form-control" tabindex="2" required>
                            </div>                           
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('blocks')">
                        Blocks
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="blocks" class="w3-show">
                        <div class="col-sm-12 mb-1">
                            <input type="text" id="fs1-fields" name="fs1-fields" value="1" hidden/>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-1">
                                Block Name/No.
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-2 mb-1">
                                No. of Floors
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-3 mb-1">
                                Floor No.
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-2 mb-1">
                                No. of Flats 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">                                                                
                                
                            </div>                                                          
                        </div>
                        <!--<div class="row">
                            <div class="col-sm-12 mb-1"> 
                                <a href="javascript:void(0)" onclick="addRow('fs1')">add another</a>
                            </div>
                        </div>-->
                        <div>   
                            <div class="row fs1" id="fs1-0">  			
                                <div class="col-sm-3 mb-1">
                                    <input type="text" name="fs1-0-block_name" class="allcaps form-control" required id="fs1-0-block_name" tabindex="3">
                                </div>                    
                                <div class="col-sm-2 mb-1">
                                    <input type="number" name="fs1-0-no_floors" class="form-control" min="1" required id="fs1-0-no_floors" tabindex="4" onfocusout="updateFloorNos(event)">
                                </div>
                                <div class="col-sm-3 mb-1">
                                    <!--<select name="fs1-0-floor_no" class="form-control" required id="fs1-0-floor_no" tabindex="5">
                                        <option value="" selected disabled>-- Select --</option>
                                    </select>-->
                                    <input type="text" name="fs1-0-floor_no" class="form-control" required id="fs1-0-floor_no" tabindex="5" readonly>
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <input type="number" name="fs1-0-no_flats" class="form-control" min="1" required id="fs1-0-no_flats" tabindex="6">
                                </div>
                                <div class="col-sm-1 mb-1">                                                                
                                    <a href="javascript:void(0)" onclick="addRow(event, 'fs1')">add</a>
                                </div>  
                                <div class="col-sm-1 mb-1">                                                                
                                    <a href="javascript:void(0)" onclick="removeRow(event)">remove</a>
                                </div>                              
                            </div>
                        </div>                        
                    </div>
                    <input type="submit" onclick="return formValidation()" id="btn" class="btn btn-primary" name="Save" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<table id="fancyTable" class="table fancyTable">
    <thead>
        <tr>
            <th>PROJECT</th>
            <th>NO. OF BLOCKS</th>
            <th>BLOCK NAME</th>
            <th>NO. OF FLOORS</th>
            <th>FLOOR NO.</th>
            <th>NO. OF FLATS</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blockDetails %}
            {% for el in block.blocks %}
            <tr>
                <td>
                    <a href="#" onclick="showBlockData('/block_master/{{block.project_name}}')">{{block.project_name}}</a>                
                </td>
                <td>{{block.no_blocks}}</td>
                <td>{{ el.block_name }}</td>
                <td>{{ el.no_floors }}</td>
                <td>{{ el.floor_no }}</td>
                <td>{{ el.no_flats }}</td>
                <td><a class="btn btn-primary" onclick="showBlockData('/block_master/{{block.project_name}}')">View</a></td>
                <td><a class="btn btn-primary" onclick="showBlockData('/block_master/{{block.project_name}}')"><i class="fa fa-fw fa-edit"></a></td>
                <td><button class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button></td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
function getElsHavingBlockName(block_name_id){
    array = []
    els = $("input[id^='fs1-'][id$='-block_name']");
    for(var i=0; i<els.length; i++){
        if (els[i].value == $("#" + block_name_id).val()){
           array.push(els[i])
        }
    }
    return array; 
}

function updateFloorNos(e){
    no_floors_id = e.target.id;
    floor_no_id = no_floors_id.split("-no_floors")[0] + "-floor_no";
    block_name_id = no_floors_id.split("-no_floors")[0] + "-block_name";
 
    no_floors = Number($("#" + no_floors_id).val());

    /*$("#" + floor_no_id).empty();
    $("#" + floor_no_id).append($('<option value="" selected disabled>-- Select --</option>'));
    for (var i = 0; i < no_floors; i++)
    {
        floor_no = AddOrdinal((i + 1));
        $("#" + floor_no_id).append($('<option></option>').val(floor_no + " FLOOR").html(floor_no + " FLOOR"));
    }*/

    els = getElsHavingBlockName(block_name_id)
    length = els.length;
    n = no_floors - length;

    for(var i=0; i<n; i++){
        addRow(e, 'fs1');        
    }

    els = getElsHavingBlockName(block_name_id)
    start_index = Number(els[0].id.split("-")[1]);
    end_index = start_index + no_floors;
    for(var i=start_index; i<end_index; i++){
        $("#fs1-" + i + "-block_name").val($("#" + block_name_id).val());
        $("#fs1-" + i + "-no_floors").val($("#" + no_floors_id).val());

        floor_no = AddOrdinal(((i - start_index) + 1));
        $("#fs1-" + i + "-floor_no").val(floor_no + " FLOOR")
    }

    if (no_floors!=0 && n < 0){
        for(i=no_floors; i<Math.abs(n) + no_floors; i++){
            removeRow($("#fs1-" + i + "-block_name")[0]);
        }
    }

    no_blocks = $("#no_blocks").val()
    unique_blocks = getUniqueBlocks();
    
    if (unique_blocks.length < no_blocks)
    {
       addRow(undefined, 'fs1');
    }
}

function getUniqueBlocks(){
    n = Number($("#fs1-fields").val())
    array = []
    for (var i=0;  i<n; i++){
        block = {
            "block_name": $("#fs1-" + i + "-block_name").val()
        }
        array.push(block)
    }

    unique_blocks = [...new Set(array.map(item => item.block_name))];

    return unique_blocks
}

function formValidation(){
    project_name = $("#project_name").val()

    if(!requiredValidation()){
        return false;
    }

    // IF EXISTS
    exists = false;
    if($("#btn").val() == "Save"){
        dt = [
            { "project_name": project_name }
        ]

        ifExists("Master", "Block", dt).done(function(response){
            exists = response["result"];            
        });

        if(exists){                
        alert("Data for this project already present!")
            return false;
        }
    }

    no_blocks = Number($("#no_blocks").val())
    blocks = getUniqueBlocks()
    if (blocks.length < no_blocks)
    {
        alert("Please enter details for all blocks!");
        return false;
    }

    for(var i=0; i<blocks.length; i++){
        result = array.filter(l => l["block_name"] == blocks[i]);
        no_floors = Number(result[0]["no_floors"]);
        if (result.length < no_floors)
        {
            alert("Please enter flat details for all floors!");
            return false;
        }
    }
    
    alert("Data saved sucessfully!");
    return true;
}
</script>

{% endblock content %}