{% extends "main_base.html" %}

{% block content %}
{% load static %}
<h3>FLAT MASTER</h3>

<button onclick="show_modal()" class="btn btn-primary">Add</button>

<div id="myModal" class="_modal">
    <div class="_modal-content">        
        <span class="_close">&times;</span>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">FLAT MASTER</h5>
            
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-toggle="tab" href="#flat_info" type="button" role="tab" aria-selected="true">Project</button>
                </li>
            </ul>
            <div class="tab-content">
                <div id="flat_info" class="tab-pane fade in active show">
                    <form method="POST" id="form" enctype="multipart/form-data"
                    data-blocks-url = "{% url 'load_blocks' %}"
                    data-floors-url="{% url 'load_floors' %}">

                    {% csrf_token %} 
                    <input type="text" name="_id" id="_id" hidden>
                    <div class="row" hidden>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="1">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="2">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="3">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="4">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="5">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="6">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="7">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="8">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="9">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="10">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="11">
                        </div>
                        <div class="col-sm-1 mb-1" style="border: 1px solid;">
                            <input type="text" class="form-control" value="12">
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('flatDetails')">
                        Flat Details 
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="flatDetails" class="w3-show">
                        <div class="row">
                            <div class="col-sm-4 mb-1">
                                <label>Project Name</label>
                                <label class="mandat_symbol">*</label>
                                <select name="project_name" id="project_name" class="form-control" tabindex="1" required>
                                    <option value="" selected disabled>-- Select --</option>
                                {% for project in projects_list %}
                                    <option value="{{project}}">{{project}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <label>Block Name</label>
                                <label class="mandat_symbol">*</label>
                                <select name="block_name" id="block_name" class="form-control" tabindex="2" required>
                                    <option value="" selected disabled>-- Select --</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mb-1">
                                <label>Floor No.</label>
                                <label class="mandat_symbol">*</label>
                                <select name="floor_no" id="floor_no" class="form-control" tabindex="3" required onchange="updateFlatNo()">
                                    <option value="" selected disabled>-- Select --</option>
                                </select>
                            </div>                           
                        </div>
                    </div>
                    <div class="acc_title" onclick="AccFunc('flats')">
                        Flats
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div id="flats" class="w3-show">
                        <div class="col-sm-12 mb-1">
                            <input type="text" id="fs1-fields" name="fs1-fields" value="1" hidden/>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 mb-1">
                                Flat No.
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Flat Type/BHK
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-2 mb-1">
                                Ownership Status
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-2 mb-1">
                                Flat Status 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Carpet Area 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Builtup Area 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Superbuiltup Area 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Parking No. 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">
                                Parking Area 
                                <label class="mandat_symbol">*</label>
                            </div>
                            <div class="col-sm-1 mb-1">                                                                
                                
                            </div>                                                          
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-1"> 
                                <a href="javascript:void(0)" onclick="addRow('fs1')">add another</a>
                            </div>
                        </div>
                        <div>   
                            <div class="row fs1" id="fs1-0">  			
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-flat_no" class="allcaps form-control" required id="fs1-0-flat_no" tabindex="4" onfocusout="updateParkingNo(event)">
                                </div>                    
                                <div class="col-sm-1 mb-1">
                                    <select name="fs1-0-flat_type" class="form-control" required id="fs1-0-flat_type" tabindex="5">
                                        <option value="" selected disabled>-- Select --</option>
                                        <option value="2BHK">2BHK</option>
                                        <option value="3BHK">3BHK</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <select name="fs1-0-ownership_status" class="allcaps form-control" required id="fs1-0-ownership_status" tabindex="6">
                                        <option value="" selected disabled>-- Select --</option>
                                        <option value="COMPANY SHARE">COMPANY SHARE</option>
                                        <option value="LAND-OWNER SHARE">LAND-OWNER SHARE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 mb-1">
                                    <select name="fs1-0-flat_status" class="form-control" required id="fs1-0-flat_status" tabindex="7">
                                        <option value="" selected disabled>-- Select --</option>
                                        <option value="OPEN">OPEN</option>
                                        <option value="RESERVED">RESERVED</option>
                                        <option value="HOLD">HOLD</option>
                                        <option value="BOOKED">BOOKED</option>
                                    </select>
                                </div>
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-carpet_area" class="form-control" required id="fs1-0-carpet_area" tabindex="8" onchange="validateArea(event)">
                                </div>
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-builtup_area" class="form-control" required id="fs1-0-builtup_area" tabindex="9" onchange="validateArea(event)">
                                </div>
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-superbuiltup_area" class="form-control" required id="fs1-0-superbuiltup_area" tabindex="10" onchange="validateArea(event)">
                                </div>
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-parking_no" class="form-control" required id="fs1-0-parking_no" tabindex="11">
                                </div>
                                <div class="col-sm-1 mb-1">
                                    <input type="text" name="fs1-0-parking_area" class="form-control" required id="fs1-0-parking_area" tabindex="12">
                                </div>
                                <div class="col-sm-1 mb-1">                                                                
                                    <a href="javascript:void(0)" onclick="removeRow(event)">remove</a>
                                </div>                              
                            </div>
                        </div>                        
                    </div>
                    <input type="submit" onclick="return formValidation()" id="btn" class="btn btn-primary" name="Save" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<table id="fancyTable" class="table fancyTable">
    <thead>
        <tr>
            <th>PROJECT</th>
            <th>BLOCK NAME</th>
            <th>FLOOR NO.</th>
            <th>FLAT NO.</th>
            <th>FLAT TYPE</th>
            <th>FLAT STATUS</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for flat in flatDetails %}
        {% for el in flat.flats %}
        <tr>
            <td>
                <a href="#" onclick="showFlatData('/flat_master/{{flat.project_name}}/{{ flat.block_name }}/{{ flat.floor_no }}')">{{ flat.project_name }}</a>                
            </td>
            <td>{{ flat.block_name }}</td>
            <td>{{ flat.floor_no }}</td>            
            <td>{{ el.flat_no }}</td>
            <td>{{ el.flat_type }}</td>
            <td>{{ el.flat_status }}</td>
            <td><a class="btn btn-primary" onclick="showFlatData('/flat_master/{{flat.project_name}}/{{ flat.block_name }}/{{ flat.floor_no }}')">View</a></td>
            <td><a class="btn btn-primary" onclick="showFlatData('/flat_master/{{flat.project_name}}/{{ flat.block_name }}/{{ flat.floor_no }}')"><i class="fa fa-fw fa-edit"></a></td>
            <td><button class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button></td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
no_flats = 0

function updateFlatNo(){
    _name = $("#block_name").val().split("-")[1];
    _no = $("#floor_no").val()[0];

    value = _name + "-" + _no;
    $("#fs1-0-flat_no").val(value);
    $("#fs1-0-parking_no").val(value);

    project_name = $("#project_name").val()
    block_name = $("#block_name").val()
    floor_no = $("#floor_no").val()
    getNoFlats(project_name, block_name, floor_no);
    
    length = Number($("#fs1-fields").val())
    n = no_flats - length;

    for(var i=0; i<n; i++){
        addRow('fs1');        
    }

    if (n < 0){
        for(i=no_flats; i<Math.abs(n) + no_flats; i++){
            removeRow($("#fs1-" + i + "-flat_no")[0]);
        }
    }

    length = Number($("#fs1-fields").val())
    for(var i=0; i<length; i++){
        $("#fs1-" + i + "-flat_no").val(value);
        $("#fs1-" + i + "-parking_no").val(value);
    }
}

function updateParkingNo(e){
    flat_no_id = e.target.id;
    parking_no_id = flat_no_id.split("-flat_no")[0] + "-parking_no";

    flat_no = e.target.value;
    $("#" + parking_no_id).val(flat_no);
}

function getNoFlats(project_name, block_name, floor_no){
    return $.ajax({      
    url: "/get_no_flats/" + project_name + "/" + block_name + "/" + floor_no,
    async: false,
    success: function(response){
        no_flats = Number(response["no_flats"])
    }, 
    error: function(error) {
      console.log(error)
    }
  });
}

function validateArea(e){
    id = e.target.id;
    parts = id.split("-");
    id = parts[0] + "-" + parts[1];

    carpet_area_id = id + "-carpet_area";
    builtup_area_id = id + "-builtup_area";
    superbuiltup_area_id = id + "-superbuiltup_area";

    carpet_area = Number($("#" + carpet_area_id).val())
    builtup_area = Number($("#" + builtup_area_id).val())
    superbuiltup_area = Number($("#" + superbuiltup_area_id).val())

    
    if(builtup_area > 0 && carpet_area > 0){
        if (builtup_area < carpet_area)
        {
            alert("Carpet area should be less than Built up area ");
            e.target.value = "";
            return;
        }
    }

    if(superbuiltup_area > 0 && builtup_area > 0){
        if (superbuiltup_area < builtup_area)
        {
            alert("Built up area should be less than super builtup area");
            e.target.value = "";
            return;
        }
    }
}

function formValidation(){
    project_name = $("#project_name").val()
    block_name = $("#block_name").val()
    floor_no = $("#floor_no").val()

    if(!requiredValidation()){
        return false;
    }

    // IF EXISTS
    exists = false;
    if($("#btn").val() == "Save"){
        dt = [
            { "project_name": project_name },
            { "block_name": block_name },
            { "floor_no": floor_no }
        ]

        ifExists("Master", "Flat", dt).done(function(response){
            exists = response["result"];            
        });

        if(exists)
        {                
            alert("Data for " +  project_name + " " + block_name + " " + floor_no + " already present!")
            return false;
        }
    }

    length = Number($("#fs1-fields").val())
    if(length < no_flats)
    {
        alert("Please enter details for all the " +  no_flats  + " flats");
        return false;
    }

    if (length > no_flats)
    {
        alert("Please enter details for only " +  no_flats  + " flats");
        return false;
    }
    
    alert("Data saved sucessfully!");
    return true;
}
</script>

{% endblock content %}